DATABASE_URL="postgresql://postgres:postgres@localhost:15432/music_practice_tracker?schema=public"
POSTGRES_DB=music_practice_tracker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=15432

APP_API_PORT=3000
ADMIN_API_PORT=3001

ADMIN_PORT=8000
